/* Fonts */
@font-face {
  font-family: "Elaine_D02";
  src: local("Elaine_D02"),
    url(../../assets/Fonts/Elaine_D02/Elaine_D02.woff) format("woff");
}
@font-face {
  font-family: "Azo-Sans";
  src: local("Azo-Sans"),
    url(../../assets/Fonts/Azo-Sans/Azo-Sans.woff) format("woff");
}
@font-face {
  font-family: "Azo-Sans-Black";
  src: local("Azo-Sans-Black"),
    url(../../assets/Fonts/Azo-Sans-Black/Azo-Sans-Black.woff) format("woff");
}
@font-face {
  font-family: "Azo-Sans-Bold";
  src: local("Azo-Sans-Bold"),
    url(../../assets/Fonts/Azo-Sans-Bold/Azo-Sans-Bold.woff) format("woff");
}
@font-face {
  font-family: "Azo-Sans-Light";
  src: local("Azo-Sans-Light"),
    url(../../assets/Fonts/Azo-Sans-Light/Azo-Sans-Light.woff) format("woff");
}
@font-face {
  font-family: "Azo-Sans-Medium";
  src: local("Elaine_D02"),
    url(../../assets/Fonts/Azo-Sans-Medium/Azo-Sans-Medium.woff) format("woff");
}
