@import "../../styles/global/globals.scss";
.ControlledInput {
  background-color: $background-white-trans10;
  color: $font-white-trans40;
  border: none;
  border-radius: $border-radius;
  font-family: "Azo-Sans";
  padding: 10px;
  // text-transform: capitalize;
  @include desktop {
    font-size: 2.4rem;
  }
  @include tabletL {
    font-size: 2.4rem;
  }
  @include tabletP {
    font-size: 2.4rem;
  }
  @include mobile {
    font-size: 1.4rem;
  }
}
