@import "../../styles/global/globals.scss";
.Button {
  background-color: $danger-red;
  border: none;
  border-radius: $border-radius;
  padding: 1.2rem 3.5rem;
  font-family: "Azo-Sans-Bold";
  color: #fff;
  @include desktop {
    font-size: 2rem;
  }
  @include tabletL {
    font-size: 2rem;
  }
  @include tabletP {
    font-size: 2rem;
  }
  @include mobile {
    font-size: 1.6rem;
    flex: 1;
  }
}
