@import "../../styles/global/globals.scss";
.ComboHeader {
  @include desktop {
    text-align: left;
  }
  @include tabletL {
    text-align: left;
  }
  @include tabletP {
    text-align: center;
  }
  @include mobile {
    text-align: center;
  }
}
